* {
	margin:0;
	padding:0;
	font-family: 'Quicksand', sans-serif;
}
body {
	background-color: #b5eccc;
}
.box-formulir {
	width:50%;
	margin:100px auto;
}
.box {
	background-color: #f0f4f7;
	border:1px solid #b5eccc;
	padding:10px;
	box-sizing: border-box;
	margin:5px 0 25px;
}
.table-form {
	width:100%;
}
.table-form tr td:nth-child(1) {
	width: 30%;
}
.input-control {
	padding:5px 10px;
	font-size: 16px;
	margin:5px 0;
}
.btn-daftar {
	padding:10px 17px;
	background-color: #157dcc;
	color: #fff;
	border:none;
	font-size: 16px;
}
.btn-daftar:hover {
	cursor: pointer;
	background-color: #6291b4;
}
.btn-cetak {
	display: inline-block;
	padding:10px 17px;
	color: #fff;
	background-color: #4af3ad;
	margin-top: 5px;
	margin-bottom: 10px;
}
.btn-kembali {
	display: inline-block;
	padding:10px 17px;
	color: #fff;
	background-color: #f58f4b;
	margin-top: 5px;
	margin-bottom: 10px;
}
.btn-input{
	padding:10px 17px;
	background-color: #157dcc;
	color: #fff;
	border:none;
	font-size: 16px;
}
.btn-input:hover {
	cursor: pointer;
	background-color: #6291b4;
}
.table-data {
	width: 100%;
	margin-top: 10px;
}
.table-data tr {
	height: 35px;
}
.table-data tr td:nth-child(1) {
	width:30%;
}
.main-login {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login {
	width:320px;
	min-height: 200px;
}
.box-login h2 {
	text-align: center;
	margin-bottom: 20px;
}
.btn-login {
	padding:7px 20px;
	background-color: #07af61;
	color: #ecf2f5;
	border:none;
	font-size: 16px;
}
.btn-login:hover {
	cursor: pointer;
	background-color: #53f1a8;
}
header {
	background-color: #fff;
}
header::after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	padding:15px 25px;
	display: inline-block;
}
header ul {
	float: left;
}
header ul li {
	padding:24px 25px;
	display:inline-flex;
}
header ul li:hover {
    background-color: #1ed6cd;
}
header ul li a:hover {
    color: #dd37cf;
}
a {
	text-decoration: none;
}
.content {
	width:90%;
	padding:10px;
	box-sizing: border-box;
	margin:50px auto;
}
.table {
	width:100%;
	border-collapse: collapse;
	border:1px solid #070707;
}
.table tr {
	height: 30px;
}
.table tr td {
	padding:5px 10px;
}
.table tr td:nth-child(1) {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.box-formulir {
		width:90%;
	}
}